Repository fedify-dev/fedify, pull requests merged in 2025-09, with the labels that each got.

#393 fix: Remove documentLoader property from FederationOptions interface
  CHANGES.md
  packages/cli/src/inbox.tsx
  packages/fedify/src/federation/federation.ts
  packages/fedify/src/federation/middleware.test.ts
  packages/fedify/src/federation/middleware.ts
Labels: priority/high, type/refactor, component/cli, breaking change

#390 Migrate cli `lookup` from Cliffy to Optique
  packages/cli/.gitignore
  packages/cli/deno.json
  packages/cli/package.json
  packages/cli/src/globals.ts
  packages/cli/src/inbox.test.ts
  packages/cli/src/inbox.ts
  packages/cli/src/inbox.tsx
  packages/cli/src/inbox/entry.ts
  packages/cli/src/inbox/rendercode.ts
  packages/cli/src/inbox/view.tsx
  packages/cli/src/init.test.ts
  packages/cli/src/init.ts
  packages/cli/src/install.mjs
  packages/cli/src/log.ts
  packages/cli/src/lookup.test.ts
  packages/cli/src/lookup.ts
  packages/cli/src/mod.ts
  packages/cli/src/nodeinfo.test.ts
  packages/cli/src/nodeinfo.ts
  packages/cli/src/run.mjs
  packages/cli/src/table.ts
  packages/cli/src/tunnel.test.ts
  packages/cli/src/tunnel.ts
  packages/cli/src/webfinger.ts
  pnpm-lock.yaml
Labels: type/feature, priority/high, component/cli, runtime/deno, runtime/node, runtime/bun

#410 Add inbox command using Optique
  packages/cli/deno.json
  packages/cli/package.json
  packages/cli/src/inbox.ts
  packages/cli/src/inbox.tsx
  packages/cli/src/inbox/entry.ts
  packages/cli/src/inbox/rendercode.ts
  packages/cli/src/inbox/view.tsx
  packages/cli/src/mod.ts
  packages/cli/src/table.ts
  packages/cli/src/tempserver.ts
  pnpm-lock.yaml
Labels: component/inbox, component/cli, examples

#433 Change NodeInfo `software.version` field type from `SemVer` to `string`
  CHANGES.md
  deno.json
  docs/manual/integration.md
  docs/manual/nodeinfo.md
  examples/blog/federation/mod.ts
  packages/cli/src/inbox.tsx
  packages/cli/src/nodeinfo.ts
  packages/fedify/src/federation/builder.test.ts
  packages/fedify/src/federation/middleware.test.ts
  packages/fedify/src/nodeinfo/client.test.ts
  packages/fedify/src/nodeinfo/client.ts
  packages/fedify/src/nodeinfo/handler.test.ts
  packages/fedify/src/nodeinfo/mod.ts
  packages/fedify/src/nodeinfo/semver.test.ts
  packages/fedify/src/nodeinfo/semver.ts
  packages/fedify/src/nodeinfo/types.test.ts
  packages/fedify/src/nodeinfo/types.ts
  packages/nestjs/README.md
  packages/testing/src/mock.test.ts
Labels: component/federation, component/nodeinfo, component/cli, breaking change, activitypub/compliance

#422 Refactor URI building to enable consistent method overrides
  packages/fedify/src/federation/middleware.ts
Labels: component/federation, component/actor, component/collections, difficulty/intermediate

#435 Rewrite `init` CLI command with optique and refactor
  CHANGES.md
  cspell.json
  deno.json
  packages/cli/deno.json
  packages/cli/package.json
  packages/cli/src/init.ts
  packages/cli/src/init/action/configs.ts
  packages/cli/src/init/action/deps.ts
  packages/cli/src/init/action/dir.ts
  packages/cli/src/init/action/env.ts
  packages/cli/src/init/action/install.ts
  packages/cli/src/init/action/mod.ts
  packages/cli/src/init/action/notice.ts
  packages/cli/src/init/action/patch.ts
  packages/cli/src/init/action/precommand.ts
  packages/cli/src/init/action/recommend.ts
  packages/cli/src/init/action/set.ts
  packages/cli/src/init/action/templates.ts
  packages/cli/src/init/action/utils.ts
  packages/cli/src/init/ask/dir.ts
  packages/cli/src/init/ask/kv.ts
  packages/cli/src/init/ask/mod.ts
  packages/cli/src/init/ask/mq.ts
  packages/cli/src/init/ask/pm.ts
  packages/cli/src/init/ask/wf.ts
  packages/cli/src/init/command.ts
  packages/cli/src/init/const.ts
  packages/cli/src/init/json/biome.json
  packages/cli/src/init/json/kv.json
  packages/cli/src/init/json/mq.json
  packages/cli/src/init/json/pm.json
  packages/cli/src/init/json/rt.json
  packages/cli/src/init/json/vscode-settings-for-deno.json
  packages/cli/src/init/json/vscode-settings.json
  packages/cli/src/init/lib.ts
  packages/cli/src/init/mod.ts
  packages/cli/src/init/templates/defaults/federation.ts.tpl
  packages/cli/src/init/templates/defaults/logging.ts.tpl
  packages/cli/src/init/templates/express/app.ts.tpl
  packages/cli/src/init/templates/express/index.ts.tpl
  packages/cli/src/init/templates/hono/app.tsx.tpl
  packages/cli/src/init/templates/hono/index/bun.ts.tpl
  packages/cli/src/init/templates/hono/index/deno.ts.tpl
  packages/cli/src/init/templates/hono/index/node.ts.tpl
  packages/cli/src/init/templates/next/middleware.ts.tpl
  packages/cli/src/init/templates/nitro/nitro.config.ts.tpl
  packages/cli/src/init/templates/nitro/server/error.ts.tpl
  packages/cli/src/init/templates/nitro/server/middleware/federation.ts.tpl
  packages/cli/src/init/types.ts
  packages/cli/src/init/webframeworks.ts
  packages/cli/src/mod.ts
  packages/cli/src/utils.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: component/cli, difficulty/intermediate, breaking change, examples
