Repository fedify-dev/fedify, pull requests merged in 2025-07, with the labels that each got.

#276 Fix broken links
  docs/manual/federation.md
  docs/manual/opentelemetry.md
  docs/tutorial/basics.md
  fedify/README.md
  postgres/README.md
Labels: type/documentation, status/ready for review, difficulty/beginner

#278 Create `fedify webfinger` command for isolated WebFinger lookups
  CHANGES.md
  cli/mod.ts
  cli/webfinger.ts
  docs/cli.md
  fedify/vocab/handle.ts
  fedify/vocab/lookup.ts
  fedify/vocab/mod.ts
Labels: type/enhancement, type/feature, component/webfinger, component/cli

#282 fix(bug): `fedify node` breaks favicon on terminal emulators without truecolor
  CHANGES.md
  cli/node.ts
  logo.svg
Labels: type/bug, good first issue, priority/medium, component/nodeinfo, component/cli, difficulty/beginner

#285 feat(cli): add --actor-name and --actor-summary options to 'fedify inbox' command
  CHANGES.md
  cli/inbox.tsx
Labels: type/enhancement, good first issue, component/cli, difficulty/beginner

#293 Update ai-labeler configuration to reduce excessive labeling
  .github/ai-labeler.yml
  .github/workflows/ai-labeler.yaml
Labels: priority/low, type/chore, status/in progress

#295 Fix TypeError: unusable in doubleKnock redirect handling
  CHANGES.md
  fedify/sig/http.test.ts
  fedify/sig/http.ts
Labels: type/bug, priority/high, component/inbox, status/ready for review

#299 feat(test): Add unit test for `fedify node`
  cli/deno.json
  cli/node.test.ts
  cli/node.ts
Labels: type/feature, priority/medium, type/test, component/cli, runtime/deno, status/in progress

#308 fix(bug, test): ASCII art tests fail in PR #299
  CHANGES.md
  cli/node.test.ts
  cli/node.ts
Labels: type/feature, priority/medium, type/test, component/cli, runtime/deno, status/in progress

#322 Fix Flooding alerts from "sponsors.yml" action
  .github/workflows/sponsors.yaml
Labels: type/bug, priority/medium, type/chore

#327 docs: fedify node --raw option
  docs/cli.md
Labels: type/documentation, priority/medium, component/cli

#283 feat(test): `MockFederation` and `MockContext`
  CHANGES.md
  deno.json
  docs/.vitepress/config.mts
  docs/manual/test.md
  docs/package.json
  fedify/deno.json
  fedify/federation/handler.test.ts
  fedify/federation/middleware.ts
  fedify/testing/mod.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  testing/README.md
  testing/context.ts
  testing/deno.json
  testing/docloader.ts
  testing/mock.test.ts
  testing/mock.ts
  testing/mod.ts
  testing/package.json
  testing/tsdown.config.ts
Labels: type/enhancement, type/feature, type/test, component/integration

#321 feat(cli): Add --output option to fedify lookup to save results to a file
  CHANGES.md
  cli/lookup.test.ts
  cli/lookup.ts
  docs/cli.md
Labels: type/enhancement, good first issue, type/feature, component/cli, difficulty/beginner

#333 Update each examples to use pnpm as package manager
  .github/workflows/build.yaml
  examples/cloudflare-workers/package.json
  examples/cloudflare-workers/pnpm-lock.yaml
  examples/express/.nvmrc
  examples/express/README.md
  examples/express/package-lock.json
  examples/express/package.json
  examples/next14-app-router/.nvmrc
  examples/next14-app-router/README.md
  examples/next14-app-router/package-lock.json
  examples/next14-app-router/package.json
  examples/next15-app-router/.nvmrc
  examples/next15-app-router/README.md
  examples/next15-app-router/bun.lock
  examples/next15-app-router/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: type/enhancement, component/cli, status/in progress
