Repository fedify-dev/fedify, pull requests merged in 2025-08, with the labels that each got.

#340 docs: Replace @typeParam with @template in JSDoc comments for consist…
  fedify/compat/transformers.ts
  fedify/federation/builder.ts
  fedify/federation/callback.ts
  fedify/federation/federation.ts
  fedify/federation/handler.ts
  fedify/federation/kv.ts
  fedify/federation/middleware.ts
  fedify/sig/key.ts
  fedify/sig/proof.ts
  fedify/x/fresh.ts
  fedify/x/hono.ts
  fedify/x/sveltekit.ts
  h3/index.ts
  testing/mock.ts
Labels: type/documentation, good first issue

#342 fix: display object type of an activity for inbox command
  CHANGES.md
  cli/inbox.tsx
Labels: type/enhancement, component/inbox, component/cli, difficulty/beginner

#343 deps: add debug package to fix VitePress dev server import error
  docs/package.json
  pnpm-lock.yaml
Labels: type/bug, priority/high, status/needs triage

#344 Add skip guard to RedisKvStore tests temporarily
  redis/kv.test.ts
Labels: priority/medium, type/test, component/kv, status/in progress

#345 Task/Remove sub config setting
  amqp/deno.json
  express/deno.json
  h3/deno.json
  postgres/deno.json
  redis/deno.json
Labels: type/chore, component/cli, status/in progress

#347 fix(codegen): randomize output filename to prevent race condition in parallel test runs
  fedify/codegen/main.ts
  fedify/deno.json
  fedify/vocab/.gitignore
Labels: type/enhancement, priority/medium, type/refactor, component/kv, status/in progress

#350 fix: prevent race condition in PostgresMessageQueue test
  packages/postgres/src/mq.test.ts
Labels: type/bug, priority/high, type/test, component/mq, runtime/deno, status/in progress

#315 Add AbortSignal to `fedify lookup`
  CHANGES.md
  packages/fedify/src/runtime/authdocloader.test.ts
  packages/fedify/src/runtime/authdocloader.ts
  packages/fedify/src/runtime/docloader.ts
  packages/fedify/src/sig/http.test.ts
  packages/fedify/src/sig/http.ts
  packages/fedify/src/testing/docloader.ts
  packages/fedify/src/vocab/lookup.test.ts
  packages/fedify/src/vocab/lookup.ts
  packages/fedify/src/webfinger/lookup.test.ts
  packages/fedify/src/webfinger/lookup.ts
Labels: type/enhancement, component/webfinger, status/in progress

#355 Create `@fedify/nextjs` to integrate with Next.js
  .github/workflows/build.yaml
  .gitignore
  AGENTS.md
  CHANGES.md
  CONTRIBUTING.md
  docs/manual/integration.md
  docs/package.json
  examples/next15-app-router/app/.well-known/[[...catchAll]]/route.ts
  examples/next15-app-router/app/fedify-activity-handler/[[...catchAll]]/route.ts
  examples/next15-app-router/shared/integrate-fedify.ts
  packages/cli/src/init.ts
  packages/fedify/README.md
  packages/next/README.md
  packages/next/package.json
  packages/next/src/index.ts
  packages/next/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: type/feature, priority/medium, component/integration, status/in progress

#370 Hotfix `@fedify/next`
  docs/why.md
  packages/next/package.json
  packages/next/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: type/bug, priority/medium, component/integration, runtime/node

#392 Migrate from `LanguageTag` to `Intl.Locale` for representing language tags
  CHANGES.md
  docs/manual/vocab.md
  packages/cfworkers/deno.json
  packages/cfworkers/package.json
  packages/denokv/deno.json
  packages/fedify/deno.json
  packages/fedify/package.json
  packages/fedify/src/codegen/__snapshots__/class.test.ts.snap
  packages/fedify/src/codegen/class.ts
  packages/fedify/src/codegen/type.ts
  packages/fedify/src/runtime/langstr.test.ts
  packages/fedify/src/runtime/langstr.ts
  packages/fedify/src/vocab/__snapshots__/vocab.test.ts.snap
  packages/fedify/src/vocab/vocab.test.ts
  packages/hono/deno.json
  packages/hono/package.json
  packages/sveltekit/deno.json
  packages/sveltekit/package.json
  pnpm-lock.yaml
Labels: type/documentation, type/enhancement, priority/medium, type/refactor, component/vocab, breaking change

#394 Fixed SvelteKit integration hook types
  CHANGES.md
  packages/sveltekit/deno.json
  packages/sveltekit/src/mod.test.ts
  packages/sveltekit/src/mod.ts
Labels: type/bug, help wanted, priority/medium, component/integration, status/in progress
